<div class="col-off">
    <app-entete></app-entete>
</div>
<app-slide></app-slide>

<section style="padding: 5ex">
    <h1 style="font-family: roboto condensed">A propos</h1>
    <div class="ui vertical segment">
        <h3>Qu'est-ce-que Freelance Gabon ?</h3>
        <p>
            <b>Freelance Gabon </b> est une plateforme qui permet: <br>
            <b>premièrement</b> aux jeunes gabonais qui ont des compétences dans diversses matières à proposer leurs services à n'importe qui en fixant leur propre tarif (en Fcfa par heure ou par jour). Par exemple si vous êtes expert comptable ou vous
            donnez des cours de musique, vous pouvez offrir vos services à quelqu'un qui va vous payer 5000 par heure ou par jour. <br>

            <b>Deuxièmement</b> Freelance Gabon permet aux recruteurs qui ont des projets à réaliser au plus bref delai de venir trouver le bon profil et une main d'oeuvre pas chère sur la plateforme. Par exemple, vous voulez réaliser une App Android
            ou ios à un prix raisonnable, Freelance Gabon est là pour vous.
        </p>
    </div>
    <div class="ui vertical segment">
        <h3>Qui s'occupe du site</h3>
        <p>
            Je m'occupe tout seule du site pour le moment. Vous pouvez consulter mon portofolio à l'adresse ci joint <i class="fas fa-hand-point-right" style="font-size: 18px;"></i> <a href="http://mitashi-otha.com" target="blank">ici</a>.
        </p>
    </div>
    <div class="ui vertical segment">
        <h3>Comment est réalisé le site ?</h3>
        <p>
            Le site est developpé entierement avec <a href="https://angular.io/" target="blank"><b>Angular 6</b></a>. Il est à cette date en version <b>Beta</b>.
        </p>
    </div>
    <div class="ui vertical segment">
        <h3>Qui peut s'inscrire sur le site</h3>
        <p>
            Tout le monde qui a une competence à faire valoir.
        </p>
    </div>
</section>

<app-footer></app-footer>