<div class="footer">
    <div class="row">
        <div class="large-3 column">
            <h3>Liens</h3>
            <ul>
                <li>A propos de Freelance GA</li>
                <li>Me connecter</li>
                <li>Voir Tous les Freelancers</li>
                <li>Voir Tous les Projets</li>
            </ul>
        </div>
        <div class="large-3 column">
            <h3>Populaire</h3>
            <ul>
                <li>Developpeur Android /Ios</li>
                <li>Data scientist</li>
                <li>Marketing Digital</li>
                <li>Infographistes</li>
                <li>Agent de communication</li>
                <li>Redacteur Web</li>
                <li>Chef de projet digital</li>
            </ul>
        </div>
        <div class="large-3 column">
            <h3>Tags</h3>
            <div class="row xvx">
                <a href="#" class="ui grey label appmobile">Graphiste</a>
                <a href="#" class="ui grey label appmobile">Web Designer</a>
                <a href="#" class="ui grey label appmobile">Developpeur java</a>
                <a href="#" class="ui grey label appmobile">Photographe</a>
                <a href="#" class="ui grey label">Consultant SEO</a>
                <a href="#" class="ui grey label appmobile">Developpeur React</a>
                <a href="#" class="ui grey label appmobile"> Developpeur WordPress </a>
                <a href="#" class="ui grey label appmobile"> Traducteur </a>
                <a href="#" class="ui grey label appmobile">Chef de projet Digital</a>
                <a href="#" class="ui grey label webs">Réalisateur</a>
                <a href="#" class="ui grey label webs">Creation de site internet</a>
                <a href="#" class="ui grey label">Start up</a>
                <a href="#" class="ui grey label">Opensource</a>
                <a href="#" class="ui grey label">Responsive</a>
                <a href="#" class="ui grey label">Qualité</a>
            </div>
        </div>
        <div class="large-3 column">
            <h3>New Letter</h3>
            <p style="color: #767676;">Restez informé des nouveatés du site Web</p>
            <div style="display: grid;margin-top: 3ex">
                <form class="newletter">
                    <div class="ui form">
                        <div class="fields" style="display: grid;">
                            <div class="field">
                                <label style="color: #767676;">Email</label>
                                <input id="newemail" type="text" placeholder="Votre email" name="email">
                            </div>
                            <br>
                            <div class="field">
                                <label style="color: #767676;">Combien font 10 + 8 ?</label>
                                <input id="reponse" type="text" placeholder="Votre réponse" name="reponse">
                            </div>
                        </div>
                        <button class="positive ui button" style="background-color: #3de426;">Je m'inscris</button>
                    </div>
                </form>
            </div>
        </div>
    </div>