<section style="margin-top:7ex">
    <div class="row" style="margin:auto;width:70%">
        <div class="large-5 column lat-back" style="padding: 0">

        </div>
        <div class="large-7 column col-div-form">
            <div class="col-form">
                <div class="row col-hd">
                    <div class="large-12 column">
                        <h3>Tu as dèjà un compte? connectes-toi</h3>
                    </div>
                </div>
                <div style="width:80%;margin:auto;margin-top:5ex;">
                    <form [formGroup]="myform" (ngSubmit)="submit()" class="ui form">
                        <div class="fields" style="display:grid;line-height:6ex">
                            <div class="field" style="padding-left:0" [ngClass]="{'error': error}">
                                <label>Quel est ton émail ?</label>
                                <input type="email" placeholder="Tape ton émail" formControlName='email'>
                            </div>
                            <div class="field" style="padding-left:0" [ngClass]="{'error': error}">
                                <label>Quel est ton mot de passe ?</label>
                                <input type="password" placeholder="Tape ton mot de passe" formControlName='password'>
                            </div>
                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" tabindex="0" class="hidden">
                                    <label (click)="check()">Je reste connecté</label>
                                </div>
                            </div>
                            <div style="padding-top: 3ex;">
                                <button class="ui green button" [disabled]="myform.invalid || disabled">Je me connecte</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>