<div class="col-off">
  <app-entete></app-entete>
</div>
<app-slide></app-slide>
<section style="margin-top: 10ex">
  <div class="row">
    <div class="large-12 column">
        <div class="ui icon message">
            <i class="fas fa-user-lock" style="font-size: 48px;"></i>
            <div class="content" style="margin-left: 3ex">
              <div class="header">
                  Conditions d’utilisation pour les freelancers et recructeurs
              </div>
              <p>Lire attentivement les règles en dessous.</p>
            </div>
          </div>
    </div>
    <div class="large-12 column" style="margin-top: 5ex">
        <div style="font-size: 13pt;line-height: 27px;background: #66666669;color: #fff;padding: 14px;">
            <p style="font-size: 13pt;line-height: 27px;">
                Les présentes Conditions Générales d’Utilisation déterminent les règles d’inscription et accès au site  <b>Freelance Gabon</b> . En naviguant sur ce site, vous reconnaissez, en votre qualité d’utilisateur, en connaître les termes, les accepter sans réserve et vous y conformer.
            </p>
        </div>
        <div class="ui padded segment" style="margin-top: 0;">
            <div class="ui list">
                <div class="item">
                  > Lors de l’inscription du compte freelancer , ce dernier ne pourra être actif et visible sur la plateforme du site qu’ après le remplissage des champs  du profil ( titre professionnel , prix/heure , competence , categories , … ) .cela aidera le freelancer a avoir un profil intéressant et presentable pour avoir plus de chance d être sélectionné par les recruteurs
                </div>
                <div class="item">
                 > Lors de l’inscription , mettez un email que vous utilisez souvent car toute communication passe par Email . Cela concerne les recruteurs et les freelancers
                </div>
                <div class="item">
                 > Duran l’envoi du devis par le freelancer , ce dernier dois completer les  4 champs du devis pour qu’il soit  dans les normes.
                </div>
                <div class="item">
                 > Lors de l’inscription du compte recruteur , ce dernier devrais completer les details se son projet (titre projet , budget , competences ,catégorie , … ) pour passer a l’étape validation qui sera achevé par <b>Freelance GA</b> .
                </div>
                <div class="item">
                  > Il est préférable de poster votre logo ou photo sur votre profil  ( freelancer ou recruteur ) pour donner plus de poids a votre profil.
                </div>
                <div class="item">
                 > La communication et la rencontre entre le Freelancer et le recruteur ne concerne nullement <b>Freelance GA</b>. Nous nous desengageons de toute activité en dehors de la plateforme.
                </div>
                <div class="item">
                  > Vous n’avez pas le droit de mettre vos  info contacts ( tél , email , site ,… ) sur votre profil, messages ou commentaires, cela concerne les recruteurs et freelancers. Tout compte suspect sera suspendu ..
                </div>
                <div class="item">
                  > Les freelances n’ont pas le droit de publier leur profile  et services en postant un projet. Dans ce cas le compte Freelancer sera suspendu.
                </div>
                <div class="item">
                 > Tout profil ( freelancer ou recruteur ) qui touche au sujet sexuel, rencontre amoureuse, secte religieuse sera supprimé.
                </div>
              </div>
          </div>
    </div>
  </div>
</section>