<table class="ui very basic table">
    <thead class="th-free">
        <tr>
            <th class="center aligned">A propos de l'employeur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td-employ" style="padding-left: 0 !important;
            padding-right: 0 !important;">
                <div class="side-info-employe" style="margin-left:6ex">
                    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="300 265.9 338 311" style="enable-background:new 300 265.9 338 311;width: 40px;height: 80px;" xml:space="preserve">
                <path id="XMLID_4_" class="st0" d="M626,576.9H394c-6.6,0-12-5.4-12-12v-250c0-6.6,5.4-12,12-12h232c6.6,0,12,5.4,12,12v250
                C638,571.5,632.6,576.9,626,576.9z"/>
                <path id="XMLID_3_" class="st1" d="M584,557.9H352c-6.6,0-12-5.4-12-12v-250c0-6.6,5.4-12,12-12h232c6.6,0,12,5.4,12,12v250
                C596,552.5,590.6,557.9,584,557.9z"/>
                <path id="XMLID_1_" class="st2" d="M544,539.9H312c-6.6,0-12-5.4-12-12v-250c0-6.6,5.4-12,12-12h232c6.6,0,12,5.4,12,12v250
                C556,534.5,550.6,539.9,544,539.9z"/>
                </svg>
                    <div class="info-name-empl">
                        <h3>Zouir</h3>
                        <span>
                            Membre depuis juillet 30 2018
                        </span>
                    </div>
                </div>
                <div class="" style="display: grid">
                    <div class="info-plus">
                        <i class="fas fa-map-marker-alt"></i>
                        <div> Ville </div>
                    </div>
                    <div class="info-plus">
                        <i class="fas fa-money-bill-alt"></i>
                        <div> Depense total </div>
                    </div>
                    <div class="info-plus">
                        <i class="fas fa-briefcase"></i>
                        <div> Projet posté </div>
                    </div>
                    <div class="info-plus">
                        <i class="fas fa-handshake"></i>
                        <div>Embauche </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>